* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.2em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

div.CodeMirror {
  width: 45%;
  padding: 10px 5px 10px 0px;
  border-bottom: 1px solid #363636;
  height: 260px;
  border-right: 1px solid #363636;
}

iframe {
  width: 55%;
  border: none;
  background: #272822;
  color: white;
}