*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: none;
  background: #ddd;
  font-size: 14px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

div {
  display: inline-block;
  box-sizing: border-box;
}

div.boxes {
  width: 45%;
  float: left;
}

div.output {
  width: 55%;
  float: right;
}

textarea {
  color: #ccc;
  background: #555;
  width: 100%;
  padding-bottom: 1em;
  padding: 15px;
}

iframe {
  background: #fff;
  width: 100%;
}
